# Localstack data/cache
/localstack
/localstack-data
/localstack_tmp

# PyCharm ou outros IDEs
.idea/
.vscode/

# __pycache__ gerado por Python
__pycache__/
**/__pycache__/

# Arquivos de build temporário
*.pyc
*.pyo
*.pyd
*.log

# Arquivos de testes locais, dumps, etc
*.db
*.sqlite3
.env
.env.*

# Pastas ocultas que não precisam ir pro repo
*.egg-info/
dist/
build/

/awscliv2.zip
/aws/install
/backend/localstack-data/cache/machine.json
/aws/README.md
/backend/localstack-data/cache/server.test.pem
/backend/localstack-data/cache/server.test.pem.crt
/backend/localstack-data/cache/server.test.pem.key
/aws/THIRD_PARTY_LICENSES
